<header>
  <h1><a href="/#/">Benjamin Nolan</a></h1>
  <footer>
    <ul>
      <li class="fa fa-facebook-official fa-large"></li>
      <li class="fa fa-github fa-large"></li>
      <li class="fa fa-linkedin-square fa-large"></li>
      <li class="fa fa-twitter fa-large"></li>
    </ul>
  </footer>
  <ul class="contactInfo">
    <li>bnolancgartist@gmail.com</li>
    <li>(858)366-5866</li>
  </ul>
</header>
<nav class="pagenav">
  <ul>
    <li><a href="/#/webprojects">Web Development</a></li>
    <li><a href="/#/gameprojects">Game Art</a></li>
    <li><a href="/#/about">About</a></li>
    <li><a href="/#/skills">Skills</a></li>
  </ul>
</nav>
<section>
  <h1>Skills</h1>
  <article>
    <h2>Web Development</h2>
    <ul>
      <li>Javascript</li>
      <li>Angular</li>
      <li>Node</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>PageJS</li>
      <li>jQuery</li>
      <li>Rest API</li>
      <li>AJAX</li>
      <li>MongoDB</li>
      <li>SQL</li>
      <li>Mocha</li>
      <li>Chai</li>
      <li>Jasmine</li>
      <li>Protractor</li>
      <li>Git</li>
      <li>gulp</li>
      <li>Atom</li>
      <li>ExpressJS</li>
      <li>Photoshop</li>
      <li>Python</li>
      <li>ReactJS</li>
      <li>IonicJS</li>
      <li>babylonJS</li>
      <li>PHP</li>
      <li>SEO</li>
      <li>Java</li>
    </ul>
  </article>
</section>
