<header class="home">
  <h1>Benjamin Nolan</h1>
  <ul class="contactInfo">
    <li>bnolancgartist@gmail.com<a href="mailto:bnolancgartist@gmail.com" target="_top">bnolancgartist@gmail.com</a></li>
    <li>(858)366-5866</li>
  </ul>
</header>
<nav class="navHeader">
  <ul>
    <li><a href="/#/">Home</a></li>
    <li><a href="/#/webprojects">Projects</a></li>
    <li><a href="/#/skills">Skills</a></li>
    <li><a href="/#/about">About Me</a></li>
  </ul>
</nav>
<footer class="footer">
  <ul>
    <a href="https://www.facebook.com/BenEnOlan"><li class="fa fa-facebook-official fa-large"></li></a>
    <a href="https://github.com/bonecrushereb"><li class="fa fa-github fa-large"></li></a>
    <a href="https://www.linkedin.com/in/ben-nolan-28513349"><li class="fa fa-linkedin-square fa-large"></li></a>
    <a href="https://twitter.com/bonecrushereb"><li class="fa fa-twitter fa-large"></li></a>
  </ul>
</footer>
<article class="home">
  <img class="surftitle" src="images/surfboardTitle.png" alt="surfboard">
  <img class="navBoard" src="images/navboard.png" alt="navigation">
</article>
