<header>
  <h1>Benjamin Nolan</h1>
  <ul class="contactInfo">
    <li>bnolancgartist@gmail.com</li>
    <li>(858)366-5866</li>
  </ul>
</header>
<nav class="navHeader">
  <ul>
    <li><a href="/#/webprojects">Web Development</a></li>
    <li><a href="/#/gameprojects">Game Art</a></li>
    <li><a href="/#/about">About</a></li>
    <li><a href="/#/skills">Skills</a></li>
  </ul>
</nav>
<footer class="footer">
  <ul>
    <li class="fa fa-facebook-official fa-large"></li>
    <li class="fa fa-github fa-large"></li>
    <li class="fa fa-linkedin-square fa-large"></li>
    <li class="fa fa-twitter fa-large"></li>
  </ul>
</footer>
<article class="home">
  <img src="images/surfboardTitle.png" alt="surfboard">
  <img class="navBoard" src="images/navboard.png" alt="navigation">
</article>
