<header>
  <h1>Benjamin Nolan</h1>
  <footer>
    <ul>
      <li class="fa fa-facebook-official fa-large"></li>
      <li class="fa fa-github fa-large"></li>
      <li class="fa fa-linkedin-square fa-large"></li>
      <li class="fa fa-twitter fa-large"></li>
    </ul>
  </footer>
  <ul class="contactInfo">
    <li>bnolancgartist@gmail.com</li>
    <li>(858)366-5866</li>
  </ul>
</header>
<nav>
  <ul>
    <li><a href="/#/gameprojects">Web Development</a></li>
    <li><a href="/#/webprojects">Game Art</a></li>
    <li><a href="/#/about">About</a></li>
    <li><a href="/#/skills">Skills</a></li>
  </ul>
</nav>
<section class="availability">
  <h2>Available</h2>
  <ul>
    <li>Front End Development</li>
    <li>Back End Development</li>
    <li>Full Stack Development</li>
  </ul>
</section>
<img class="profilepic" src="images/about_profile.jpg" alt="profile pic">
<section>
  <article>
    <h2>About</h2>
    <p>I am an eager, willing to learn and do anything to get a project done. I’ve been called a Jack of all Trades and have not missed a pipeline deadline yet.</p>
  </article>
  <article>
    <h2>Philosophy</h2>
    <p>There is no way of knowing everything there is about web development, you are constantly learning. Whether it is some new technology or a different way of looking at the technology you already know. I think thats why web development is so interesting, theres always that learning curve.</p>
  </article>
  <article>
    <h2>Education</h2>
    <ul>
      <li>Certification-Full Stack JavaScript – 2016</li>
      <li>On-line courses – Web Development -2013 to present</li>
      <li>Formal Continuing Education – Web Development -2013-2014</li>
      <li>Bachelor of Science – Game Art and Design -2012</li>
    </ul>
  </article>
</section>
