header {
  font-family: $openFont;
  display: flex;
  justify-content: space-between;

  h1{
    font-size: 48px;
    width: 50px;
    margin-left: 40px;
    margin-top: 40px;
  }

  .contactInfo {
    font-size: 24px;
    margin-right: 40px;
    margin-top: 40px;
  }
}

.navBoard {
  position: relative;
  left: 20%;
}
