div {
  margin: 0 auto;
  text-align: center;
  position: relative;
  background-image: url("../images/navBoard.png") no-repeat;
  width: 171px;
  height: 576px;
  background-size: contain;
  .navHeader {
    ul {
      position: relative;
      top: 50px;
      li {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 20px;
        margin-bottom: 60px;
      }
    }
  }
}

.pagenav {
  background: $headerColor;
  ul {
    position: relative;
  }
  li {
    display: inline;
    text-align: center;
    width: 100%;
    font-size: 1em;
    padding: 10px;
  }
}
