nav {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 0;
  list-style: none;
  ul {
    position: relative;
    left: 390px;
    width: 50%;
    padding: 0px;
    margin: 0px;

    li {
      width: 200px;
      display: inline;
      padding: 0px;
      margin-right: 20px;
      font-size: 1.5em;
      padding: .5em .2em;
      list-style-type: none;
      height: 40px;
    }
  }
}

.main-footer, .push {
      height: 40px;
}

.main-footer {
    background: #BFB95E;
    width: 100%;
  }

.main-footer ul {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.main-footer li {
  display: inline;
  padding: 20px;
  margin-right: .4em;
  font-size: 1em;
  padding: .5em .2em;
  list-style-type: none;
  height: 40px;
}
