<header>
  <h1><a href="/#/">Benjamin Nolan</a></h1>
  <footer>
    <ul>
      <li class="fa fa-facebook-official fa-large"></li>
      <li class="fa fa-github fa-large"></li>
      <li class="fa fa-linkedin-square fa-large"></li>
      <li class="fa fa-twitter fa-large"></li>
    </ul>
  </footer>
  <ul class="contactInfo">
    <li>bnolancgartist@gmail.com</li>
    <li>(858)366-5866</li>
  </ul>
</header>
<nav class="pagenav">
  <ul>
    <li><a href="/#/webprojects">Web Development</a></li>
    <li><a href="/#/gameprojects">Game Art</a></li>
    <li><a href="/#/about">About</a></li>
    <li><a href="/#/skills">Skills</a></li>
  </ul>
</nav>
<section>
  <h1>Ebb-Tracker</h1>
  <p>Mobile App showing Seattle tide pool information, as well as tide pools near their current location. App uses NOAA and Google Map API.</p>
  <section>
    <img src="images/ebb-tracker.png" alt="ebb-tracker">
    <article>
      <h2>Background</h2>
      <p>Current tide pool apps list popular tide pools around Seattle, however, they do not tell the user when low tide is for the best exploration experience.  In addition these apps while giving directions to the pools do not indicate there location relative to the users location.  Ebb-Tracker provides all this information.</p>
    </article>
    <article>
      <h2>Technology Used</h2>
      <ul>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Express</li>
        <li>jQuery</li>
        <li>PageJs</li>
        <li>Firebase</li>
        <li>ChartJs</li>
      </ul>
    </article>
    <article>
      <h2>Time Frame</h2>
      <p>1 week</p>
    </article>
    <article>
      <h2>Developmental Problems</h2>
      <p> Using a GET request did not allow us to manipulate NOAA API data thus we had to use a proxy server. Firebase was meant as a database and host but used Heroku to host instead.</p>
    </article>
    <article>
      <h2>Personal Contribution</h2>
      <p>Accessed NOAA API, parsing and reformatting into user friendly data chucks for addition to a package.json file using JavaScript.</p>
    </article>
  </section>
  <ul>
    <li>Click <a href="http://ebb-tracker.herokuapp.com/">here</a>to view APP</li>
    <li>Click <a href="https://github.com/CarrieShort/ebb-tracker">here</a>to view CODE</li>
  </ul>
</section>
