<header class="bkgd">
  <h1><a href="/#/">Benjamin Nolan</a></h1>
  <ul class="contactInfo">
    <li><a href="mailto:bnolancgartist@gmail.com" target="_top">bnolancgartist@gmail.com</a></li>
    <li>(858)366-5866</li>
  </ul>
</header>
<footer class="pageFooter">
  <ul>
    <a href="https://www.facebook.com/BenEnOlan" target="_blank"><li class="fa fa-facebook-official fa-2x"></li></a>
    <a href="https://github.com/bonecrushereb" target="_blank"><li class="fa fa-github fa-2x"></li></a>
    <a href="https://www.linkedin.com/in/ben-nolan-28513349" target="_blank"><li class="fa fa-linkedin-square fa-2x"></li></a>
    <a href="https://twitter.com/bonecrushereb" target="_blank"><li class="fa fa-twitter fa-2x"></li></a>
  </ul>
</footer>
<nav class="pagenav">
  <ul>
    <li><a href="/#/">Home</a></li>
    <li><a href="/#/webprojects">Projects</a></li>
    <li><a href="/#/skills">Skills</a></li>
    <li><a href="/#/about">About Me</a></li>
  </ul>
</nav>
<section class="projectClick">
  <h1 class="projectTitle">Hue-Manatee</h1>
  <p class="projectDesc">App used to enhance and simplify the controll of Phillips Hue Smart Bulbs</p>
  <img class="projectimg" src="images/hue-manatee_dashboard.png" alt="hue-manatee dashboard">
  <article class="links">
    <ul>
      <li><a href="http://hue-manatee.herokuapp.com/" target="blank">View APP</a></li>
      <li><a href="https://github.com/hue-manatee/hue-manatee" target="blank">View CODE</a></li>
    </ul>
  </article>
  <section>
    <article class="projectDetail">
      <h2>Background</h2>
      <p>Philips Hue Lights (PHL) are a Wi-Fi-enabled lighting systems that allows lights to be controlled from any smarthome device.  Kits sold include light bulbs that change color, white lights and a Hue Bridge (hub controller).  Lights are controlled via Philips Hue Gen app. This app only allows individual lights to be controlled as part of a group, for example the living room.  Hue-Manatee solves this problem, by allowing the user to control individual lights within a group. In addition hue-manatee eliminates the Wi-Fi requirement eliminating the need for a smart phone.</p>
    </article>
    <article class="projectDetail">
      <h2>Technology Used</h2>
      <ul>
        <li>Node</li>
        <li>JavaScript</li>
        <li>gulp</li>
        <li>MongoDB</li>
        <li>JwtAuth</li>
        <li>SCSS</li>
        <li>Angular</li>
        <li>Express</li>
        <li>SuperAgent</li>
        <li>Mocha</li>
        <li>Chai</li>
        <li>Protractor</li>
      </ul>
    </article>
    <article class="projectDetail">
      <h2>TimeFrame</h2>
      <p>2 weeks</p>
    </article>
    <article class="projectDetail">
      <h2>Development Problems</h2>
      <p> Philips uses 66,000 hue color wheel, which could not be supported by Hue-Manatee. To overcome this problem we shortened down Philips color wheel to the standard color wheel. Heroku and Philips Bridge IP could not communicate.  This was fixed by drilling a hole through the Heroku firewall, which allowed Heroku to recognize the Bridge IP.</p>
    </article>
    <article class="projectDetail">
      <h2>Personal Contribution</h2>
      <p>Created individual lights from Philips native groups.  Wrote user authentication function.  On the front end I created individual light manipulation function in accordance with Hue Light native function. Wrote testing functions.</p>
    </article>
  </section>
</section>
