<header>
  <h1><a href="/#/">Benjamin Nolan</a></h1>
  <footer>
    <ul>
      <a href="https://www.facebook.com/BenEnOlan"><li class="fa fa-facebook-official fa-2x"></li></a>
      <a href="https://github.com/bonecrushereb"><li class="fa fa-github fa-2x"></li></a>
      <a href="https://www.linkedin.com/in/ben-nolan-28513349"><li class="fa fa-linkedin-square fa-2x"></li></a>
      <a href="https://twitter.com/bonecrushereb"><li class="fa fa-twitter fa-2x"></li></a>
    </ul>
  </footer>
  <ul class="contactInfo">
    <li>bnolancgartist@gmail.com</li>
    <li>(858)366-5866</li>
  </ul>
</header>
<nav class="pagenav">
  <ul>
    <li><a href="/#/">Home</a></li>
    <li><a href="/#/webprojects">Projects</a></li>
    <li><a href="/#/skills">Skills</a></li>
    <li><a href="/#/about">About Me</a></li>
  </ul>
</nav>
<section class="projectClick">
  <h1>Hue-Manatee</h1>
  <p class="projectdesc">App used to enhance and simplify the controll of Philisp Hue Smart Bulbs</p>
  <img class="projectimg" src="images/hue-manatee_dashboard.png" alt="hue-manatee dashboard">
  <article class="links">
    <ul>
      <li>Click <a href="http://hue-manatee.herokuapp.com/" target="blank">HERE </a>to view APP</li>
      <li>Click <a href="https://github.com/hue-manatee/hue-manatee" target="blank">HERE </a>to view CODE</li>
    </ul>
  </article>
  <section>
    <article class="projectDetail">
      <h2>Background</h2>
      <p>Philips Hue Lights (PHL) are a Wi-Fi-enabled lighting systems that allows lights to be controlled from any smarthome device.  Kits sold include light bulbs that change color, white lights and a Hue Bridge (hub controller).  Lights are controlled via Philips Hue Gen app. This app only allows individual lights to be controlled as part of a group, for example the living room.  Hue-Manatee solves this problem, by allowing the user to control individual lights within a group. In addition hue-manatee eliminates the Wi-Fi requirement eliminating the need for a smart phone.</p>
    </article>
    <article class="projectDetail">
      <h2>Technology Used</h2>
      <ul>
        <li>Node</li>
        <li>Javascript</li>
        <li>gulp</li>
        <li>MongoDB</li>
        <li>JwtAuth</li>
        <li>Scss</li>
        <li>Angular</li>
        <li>Express</li>
        <li>superagent</li>
        <li>mocha</li>
        <li>chai</li>
        <li>protractor</li>
      </ul>
    </article>
    <article class="projectDetail">
      <h2>TimeFrame</h2>
      <p>2 weeks</p>
    </article>
    <article class="projectDetail">
      <h2>Developmental Problems</h2>
      <p> Philips uses 66,000 hue color wheel, which could not be supported by Hue-Manatee.  (how was this corrected). Heroku and Philips Bridge IP could not communicate.  This was fixed by drilling a hole through the Heroku firewall, which allowed Heroku to recognized the Bridge IP.</p>
    </article>
    <article class="projectDetail">
      <h2>Personal Contribution</h2>
      <p>Created individual lights from Philips native groups.  Wrote user authentication function.  On the front end I created individual light manipulation function in accordance with Hue Light native function. Wrote testing functions.</p>
    </article>
  </section>
</section>
