<header>
  <h1><a href="/#/">Benjamin Nolan</a></h1>
  <footer>
    <ul>
      <a href="https://www.facebook.com/BenEnOlan"><li class="fa fa-facebook-official fa-2x"></li></a>
      <a href="https://github.com/bonecrushereb"><li class="fa fa-github fa-2x"></li></a>
      <a href="https://www.linkedin.com/in/ben-nolan-28513349"><li class="fa fa-linkedin-square fa-2x"></li></a>
      <a href="https://twitter.com/bonecrushereb"><li class="fa fa-twitter fa-2x"></li></a>
    </ul>
  </footer>
  <ul class="contactInfo">
    <li><a href="mailto:bnolancgartist@gmail.com" target="_top">bnolancgartist@gmail.com</a></li>
    <li>(858)366-5866</li>
  </ul>
</header>
<nav class="pagenav">
  <ul>
    <li><a href="/#/">Home</a></li>
    <li><a href="/#/webprojects">Projects</a></li>
    <li><a href="/#/skills">Skills</a></li>
    <li><a href="/#/about">About Me</a></li>
  </ul>
</nav>
<section class="projectClick">
  <h1>Know Huddle</h1>
  <p class="projectdesc">Know Huddle App awards points for correctly forecasting plays for a NFL Football
game. App received third place in competition</p>
  <img class="projectimg" src="images/knowhuddle_people.png" alt="knowhuddle team">
  <article class="links">
    <ul>
      <li><a href="https://github.com/team-awesome-sea-sports" target="blank">View CODE </a></li>
    </ul>
  </article>
  <section>
    <article class="projectDetail">
      <h2>Background</h2>
      <p>Sports Tech Hackathon sponsored by the Seattle Sounders, was looking to integrate technology with sports.  The goal of hackathon was to create an app that would generate revenues, and increase sport viewership. This group decided to look at traditional fantasy leagues because they are passive during live games. Know Huddle allows users to predict plays in real time, increasing fantasy players' interests in broadcast games. While this app can be used for any sport, the team focused on the NFL.</p>
    </article>
    <article class="projectDetail">
      <h2>Technology Used</h2>
      <ul>
        <li>Angular Bootstrap</li>
        <li>MongoDB</li>
        <li>Python</li>
        <li>JavaScript</li>
        <li>AWS</li>
        <li>SCSS</li>
        <li>SportsRadar API</li>
      </ul>
    </article>
    <article class="projectDetail">
      <h2>TimeFrame</h2>
      <p>2 days</p>
    </article>
    <article class="projectDetail">
      <h2>Development Problems</h2>
      <p>CORS issues for accessing our Backend, authentication issues and CSS.</p>
    </article>
    <article class="projectDetail">
      <h2>Personal Contribution</h2>
      <p>Served as Python navigator under Will Weatherford. Worked on authentication process using Angular Bootstrap, but was unable to overcome authentication errors in the allowed time frame.</p>
    </article>
  </section>
</section>
