<header>
  <h1><a href="/#/">Benjamin Nolan</a></h1>
  <footer>
    <ul>
      <li class="fa fa-facebook-official fa-large"></li>
      <li class="fa fa-github fa-large"></li>
      <li class="fa fa-linkedin-square fa-large"></li>
      <li class="fa fa-twitter fa-large"></li>
    </ul>
  </footer>
  <ul class="contactInfo">
    <li>bnolancgartist@gmail.com</li>
    <li>(858)366-5866</li>
  </ul>
</header>
<nav class="pagenav">
  <ul>
    <li><a href="/#/webprojects">Web Development</a></li>
    <li><a href="/#/gameprojects">Game Art</a></li>
    <li><a href="/#/about">About</a></li>
    <li><a href="/#/skills">Skills</a></li>
  </ul>
</nav>
<section class="projectClick">
  <h1>Twitter-React</h1>
  <p class="projectdesc">Discovery project, used to learn React as a framework.</p>
  <section>
    <img class="projectimg" src="images/twitter-react.png" alt="react twitter">
    <article>
      <h2>Background</h2>
      <p>This project was used to learn React to create interactive UIs.  This app mimics Twitter create and delete functions.</p>
    </article>
    <article>
      <h2>Technology Used</h2>
      <ul>
        <li>React</li>
        <li>Node</li>
        <li>Express</li>
        <li>JavaScript</li>
        <li>Gulp</li>
        <li>MongoDB</li>
        <li>Twitter API</li>
      </ul>
    </article>
    <article>
      <h2>TimeFrame</h2>
      <p>2 days</p>
    </article>
    <article>
      <h2>Developmental Problems</h2>
      <p>Learning new framework and integrating it with Node and Twitter API. Problem solved with a lot of documentation and Google research.</p>
    </article>
    <article>
      <h2>Personal Contribution</h2>
      <p>Initial Setup of Express server, Twitter router, process.env and Twitter Authenication using Mocha, Node and Express.  Added setup for basic React, Bundle and gulpfile. Delete functionalty using Rest, Json and React</p>
    </article>
  </section>
</section>
<article class="links">
  <ul>
    <li>Click <a href="https://github.com/CarrieShort/twitter-react" target="blank">HERE </a>to view CODE</li>
  </ul>
</article>
