<header>
  <h1><a href="/#/">Benjamin Nolan</a></h1>
  <footer>
    <ul>
      <a href="https://www.facebook.com/BenEnOlan"><li class="fa fa-facebook-official fa-2x"></li></a>
      <a href="https://github.com/bonecrushereb"><li class="fa fa-github fa-2x"></li></a>
      <a href="https://www.linkedin.com/in/ben-nolan-28513349"><li class="fa fa-linkedin-square fa-2x"></li></a>
      <a href="https://twitter.com/bonecrushereb"><li class="fa fa-twitter fa-2x"></li></a>
    </ul>
  </footer>
  <ul class="contactInfo">
    <li>bnolancgartist@gmail.com</li>
    <li>(858)366-5866</li>
  </ul>
</header>
<nav class="pagenav">
  <ul>
    <li><a href="/#/">Home</a></li>
    <li><a href="/#/webprojects">Projects</a></li>
    <li><a href="/#/skills">Skills</a></li>
    <li><a href="/#/about">About Me</a></li>
  </ul>
</nav>
<section data-ng-init="webprojectsctrl.getAll()">
  <section data-ng-repeat=" webproject in webprojectsctrl.webprojects">
    <article class="project">
      <a href="/#/{{webproject.name.toLowerCase()}}"><img src="images/{{webproject.img}}" alt="{{webproject.name}}"></a>
      <h3>{{webproject.name}}</h3>
    </article>
  </section>
</section>
