<section data-ng-init="webprojectsctrl.getAll()">
  <header class="pageHeader">
    <nav>
      <ul>
        <li><a href="/#/badges">Skills</a></li>
        <li><a href="/#/">Back to home</a></li>
      </ul>
    </nav>
    <h1>Web Development</h1>
  </header>
  <article class="webdev" data-ng-repeat=" webproject in webprojectsctrl.webprojects">
    <h2>{{webproject.name}}</h2>
    <img src="images/{{webproject.img}}" alt="{{webproject.name}}">
    <p>{{webproject.body}}</p>
    <p class="author">By {{webproject.author}} - <a href="{{webproject.authorUrl}}" target="_blank">{{webproject.authorUrl}}</a></p>
  </article>
</section>
