@media screen and (min-width: 600px) {
  header {
    width: 100%;
    h1 {
      width: 50%;
      font-size: 48px;
      margin-left: 0px;
      margin-top: 30px;
    }
  }
  .surftitle {
    position: relative;
    bottom: 600px;
    width: 951px;
    display: block;
  }

  div {
    margin: 0 auto;
    margin-right: 40px;
    text-align: center;
    position: relative;
    bottom: 40px;
    background: url("../../images/navboard.png") no-repeat;
    width: 171px;
    height: 576px;
    background-size: contain;
    .navHeader {
      ul {
        position: relative;
        top: 50px;
        li {
          display: block;
          text-align: center;
          width: 100%;
          font-size: 20px;
          margin-bottom: 60px;
        }
      }
    }
  }

  .projectList {
    article {
      img {
        width: 50%;
      }
    }
    h3 {
      font-size: 36px;
      margin-bottom: 40px;
    }
  }

  .pageFooter {
    right: 120px;
  }

  .projectTitle {
    text-align: left;
    font-size: 48px;
    margin-left: 50px;
  }

  .projectDesc {
    margin: 10px;
  }

  .projectimg {
    width: 25%;
  }
  .projectDetail > p {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    line-height: 20px;
  }

  .skillsPage {
    h1 {
      margin-bottom: 20px;
    }
    ul {
      margin-left: 400px;
      margin-right: 400px;
      columns: 2;
      li {
        font-size: 18px;
      }
    }
  }

  .profilePic {
    text-align: justify;
  }

  .availability {
    h2 {
      font-size: 18px;
    }
  }

  .about {
    margin-left: 50px;
    text-align: justify;
  }
}


@media screen and (max-width: 1000px) {
  .surftitle {
    width: 50%;
  }
  .skillsPage {
    ul {
      margin-left: 0px;
      margin-right: 0px;
      columns: 1;
    }
  }
}
