/* sticky footer */

html, body {
  height: 100%;
  margin: 0;
}

//////////////////////
body {
  background: #F2E6D8;
  font-family: $openFont;
  text-align: center;
  color: #202026;
}

a {
  text-decoration: none;
  color: #202026;
}

a:hover {
  color: #405B6B;
  font-weight: bold;
}
