* {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: $openFont;
  color: #202026;
}

a {
  text-decoration: none;
  color: #202026;
}

a:hover {
  color: #405B6B;
  font-weight: bold;
}
