/* sticky footer */

html, body {
  height: 100%;
  margin: 0;
}

//////////////////////
body {
  background: url('../images/wavebackground.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font-family: $openFont;
  color: #202026;
}

a {
  text-decoration: none;
  color: #202026;
}

a:hover {
  color: #405B6B;
  font-weight: bold;
}
