<form data-ng-submit="save(gameproject)">
  <label for="name">Project Name</label>
  <input type="text" name="project name" data-ng-model="gameproject.name">

  <label for="author">Project Author</label>
  <input type="text" name="author" data-ng-model="gameproject.author">

  <label for="authorUrl">Url of Author</label>
  <input type="text" name="authorUrl" data-ng-model="gameproject.authorUrl">

  <label for="img">Project Image</label>
  <input type="text" name="img" data-ng-model="gameproject.img">

  <label for="body">Project Description</label>
  <input type="text" name="body" data-ng-model="gameproject.body">

  <button class="btn-{{action}}" type="submit">Create Project</button>
  <ng-transclude></ng-transclude>
</form>
